@import 'header_main_nav',
'header_mobile_nav';

header {
  width: 100%;
  position: fixed;
  z-index: 2000;
  background: #ffffff;
  border-bottom: 1px solid #cdcdcd;
}

#main-header {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-header-logo {
  padding-left: 15px;
  padding-top: 9px;
  float: left;
  width: 25%;
}

#main-header-logo-img {
  width: 168px;
  height: 37px;
}

#main-header-nav-items-container {
  width: 75%;
  float: right;
}

nav:hover a {
  opacity: .5;
}

nav li a:hover {
  opacity: 1;
}

nav li:hover a {
  opacity: 1;
}

nav:hover ul li ul li a {
  opacity: unset;
}

// The following media selectors are modeled after the actual QAware website (https://www.qaware.de).

@media (max-width: 1170px) {
  #main-header-logo {
    padding-left: 30px;
  }

  #main-header-nav-items-container {
    padding-right: 15px;
  }
}

@media (max-width: 1000px) {
  #main-header-logo {
    padding-bottom: 2px;
  }

  #main-header-logo-img {
    width: 123px;
    height: 27px;
  }

  #main-header {
    height: 60px;
  }
}

@media (max-width: 780px) {
  #main-header-logo {
    padding-left: 15px;
  }

  #main-header-logo-img {
    width: 123px;
  }
}

@media (max-width: 720px) {
  #main-header-logo {
    padding-left: 21.5px;
  }
}

@media (max-width: 710px) {
  #main-header-logo {
    width: 75%;
    padding-left: 3%;
  }
  #main-header-nav-items-container {
    width: 25%;
    padding-right: 4.15%;
  }
}

@media (max-width: 682px) {
  #main-header-nav-items-container {
    width: 25%;
    padding-right: 3%;
  }
}

