.header-main {
  width: 100%;
  position: fixed;
  z-index: 2000;
  background: #ffffff;
  border-bottom: 1px solid #cdcdcd;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-left {
  padding-left: 15px;
  padding-top: 9px;
  float: left;
  width: 25%;
}

.logo {
  width: 168px;
  height: 37px;
}

.navbar-right {
  width: 75%;
  float: right;
}


.nav-mains {
  padding: 0;
  border: 0;
}

.nav-mains ul {
  float: right;
  white-space: nowrap;
  list-style: none;
  height: 80px;
}

.nav-mains li {
  display: inline-block;
  height: 80px;
}

.nav-mains ul li a {
  padding-left: 16px;
  padding-right: 16px;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  color: #262424;
  transition: opacity .5s ease-in-out;
}

.nav-mains ul ul {
  box-sizing: content-box;
  position: absolute;
  background: rgba(245, 245, 245, .9);
  height: auto;
  min-width: 148px;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.nav-mains ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  height: unset;
}

.nav-mains ul li:hover > ul, ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display:block;
}

nav:hover a {
  opacity: .5;
}

nav li a:hover {
  opacity: 1;
}

.nav-mains ul li ul li {
  clear: both;
  width: 100%;
  display: block;
  height: unset;
  padding-left: 0;
}

.nav-mains ul li ul li a {
  line-height: 28.8px;
  text-transform: unset;
}

.nav-mains a:hover {
  color: #28537d;
}

.mobile-menu {
  padding-bottom: 15px;
  overflow-y: hidden;
  box-sizing: content-box;

  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;

  -moz-transition-property: all;
  -moz-transition-duration: 0.4s;
  -moz-transition-timing-function: linear;

  -ms-transition-property: all;
  -ms-transition-duration: 0.4s;
  -ms-transition-timing-function: linear;

  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.mobile-container {
  height: 0;
  overflow-y: hidden;
}

.mobile-menu li {
  font-size: .875rem;
  padding: 0;
  display: block;
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.mobile-menu a {
  padding: 10.5px 15px;
  display: block;
}

.collapsed {
  height: 0;
  padding-bottom: 0;
}

@media (max-width: 1170px) {
  .navbar-left {
    padding-left: 30px;
  }

  .navbar-right {
    padding-right: 15px;
  }
}

@media (max-width: 1140px) {
  .nav-mains ul li a {
    font-size: 0.9375rem;
  }

}

@media (max-width: 1000px) {
  .nav-mains ul li a {
    padding-left: 7px;
    padding-right: 7px;
    line-height: 60px;
  }

  .navbar-left {
    padding-bottom: 2px;
  }

  .logo {
    width: 123px;
    height: 27px;
  }

  .nav-mains ul li a {
    font-size: 0.875rem;
  }

  .nav-mains ul {
    height: 60px;
  }


  .nav-mains li {
    height: 60px;
    padding-left: 0;
  }

  .container {
    height: 60px;
  }

  @media (max-width: 780px) {
    .nav-mains ul {
      height: 0;
    }
    .navbar-left {
      padding-left: 15px;
    }

    .logo {
      width: 123px;
    }
    .nav-mains {
      visibility: hidden;
    }

    .burger {
      position: relative;
      margin: 8px auto 0;
      border-radius: 7px;
    }

    .burger a, a:active, a:focus{
      outline: none;
    }
    .burger, .burger::after, .burger::before {
      width: 24px;
      height: 4px;
      background: #262424;
      transition: all,.3s;
    }
    .burger::before {
      top: -8px;
    }

    .nav-icon:hover .burger::before {
      top: -10px;
    }

    .nav-icon:hover .burger::after{
      top: 10px;
    }

    .burger::after, .burger::before {
      position: absolute;
      border-radius: 7px;
    }

    .burger::after {
      top: 8px;
    }

    .burger::after, .burger::before {
      content: "";
    }

    .nav-icon {
      float: right;
      padding-bottom: 8px;
      padding-right: 8px;
    }

    .mobile-container {
      height: unset;
    }

  }

  @media (max-width: 720px) {
    .navbar-left {
      padding-left: 21.5px;
    }
    .nav-icon {
      padding-right: 7.5px;
    }
  }
  @media (max-width: 710px) {
    .navbar-left {
      width: 75%;
      padding-left: 3%;
    }
    .navbar-right {
      width: 25%;
      padding-right: 4.15%;
    }
    .nav-icon {
      padding-right: 0;
    }
  }

  @media (max-width: 682px) {
    .navbar-right {
      width: 25%;
      padding-right: 3%;
    }
    .nav-icon {
      padding-right: 8px;
    }
  }
}
