.header-main {
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-left {
  padding-left: 15px;
  padding-top: 9px;
  float: left;
  width: 25%;
}

.navbar-right {
  padding-right: 16px;
  width: 75%;
  float: right;
}


.nav-mains {
  padding: 0;
  border: 0;
}

.nav-mains ul {
  float: right;
  white-space: nowrap;
  list-style: none;
}

.nav-mains li {
  display: inline-block;
  padding-left: 32px;
}

.nav-mains ul li a {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #262424;
}

.nav-mains a:hover {
  color: #28537d;
}

@media (max-width: 1170px) {
  .navbar-left {
    padding-left: 30px;
  }

  .navbar-right {
    padding-right: 31px;
    padding-bottom: 1px;
  }

  .nav-mains ul li a {
    font-size: 0.9375rem;
  }

}
