:root {
  --color-mode: 'lit';
  --light: #fff;
  --dark: rgb(18,20,24);
  --gray: #f5f5f5;
  --bubble: rgb(16,16,18);
  --accent: var(--gray);
  --bg: var(--light);
  --bg-dark: #000;
  --text: var(--dark);
  --font: 'Metropolis', sans-serif;
  --theme: #04a763;
  --ease: cubic-bezier(.19,1,.22,1);

  @mixin darkmode {
    --color-mode: 'dim';
    --bg: var(--bg-dark);
    --text: var(--light);
    --accent: var(--bubble);
    --theme: rgb(24,175,119);
    *{
      box-shadow: none !important;
    } 
  }
  
  &[data-mode="dim"] {
    @include darkmode;
    .color {
      &_choice {
        &::after {
          transform: translateX(1.75rem) scale(1.67);
        }
      }
    }
  }
  @media (prefers-color-scheme: dark) { 
    &:not(.nodarkmode):not([data-mode="lit"]) {
      @include darkmode;
    }
  }
}
