:root {
  --color-mode: 'lit';
  --light: #fff;
  --dark: #262424;
  --gray: #f5f5f5;
  --bubble: #131313;
  --accent: var(--gray);
  --bg: var(--light);
  --text: var(--dark);
  --font: 'Univers LT W02', sans-serif;
  --theme: #28537d 
}
