// text strings
$copy-icon-b4: '{{ i18n "share_story" }}';
$copy-icon-aft: '{{ i18n "link_copied" }}';

// urls
$font-path: '{{ absURL "fonts" }}';
$copy-icon-path: '{{ absURL "images/icons/copy.svg" }}';
$prev-icon-path: '{{ absURL "images/icons/previous.svg" }}';
$next-icon-path: '{{ absURL "images/icons/next.svg" }}';
$never-icon-path: '{{ absURL "images/sitting.svg"  }}';
$day-icon-path: '{{ absURL "images/sun.svg"  }}';
$night-icon-path: '{{ absURL "images/crescent.svg"  }}';

@import
'fonts',
'variables',
'mixins',
'animate',
'base',
'components',
'nav',
'posts',
'utils',
'syntax';
