<!--
	<header class = 'nav' >
	<nav class = 'nav-menu'>
	<a href='{{ absURL "" }}' class = 'nav-brand nav_item'><img src="{{ .Site.Params.logo }}" width=300px/>{{ .Site.Title }}</a>
	<div class = 'nav_bar-wrap'>
	<div class = 'nav_bar'></div>
	</div>
	</nav>
	</header>
-->

<header id="stick-header" class="header-main">
	<div class="row r-11  bg-white">
		<div class="container">
			<div class="navbar-left">
				<a href="/">
					<img src="https://www.qaware.de/typo3conf/ext/s2_qaware_templates/Resources/Public/Images/logo-qaware.svg" alt="QAware" class="logo">
				</a>
			</div>
			<div class="navbar-right">
				<nav class="nav-mains">
					<ul>
						{{ range .Site.Data.menu }}
						<li>
							<a href = '{{ absURL .url }}' class = 'nav_item'>{{ .item }}</a>
							{{ with .subitems }}
							<ul>
								{{ range .}}
								<li><a href = "{{ absURL .url }}">{{ .item }}</a></li>
                                {{ end }}
							</ul>
							{{ end }}
						</li>
						{{ end }}
					</ul>

				</nav>
				<a id="nav-main-mobile" class="nav-icon" href="#">
					<div class="burger"></div>
				</a>
			</div>
		</div>
		<div id="mobile-menu" class="mobile-menu collapsed">
			<ul>
				{{- range .Site.Data.menu }}
				<li>
					<a href = '{{ absURL .url }}' >{{ .item }}</a>
				</li>
				{{- end }}
			</ul>
		</div>
	</div>
</header>
