<header>
    <div id="main-header">
        <a href="/" id="main-header-logo">
            <img src="https://www.qaware.de/typo3conf/ext/s2_qaware_templates/Resources/Public/Images/logo-qaware.svg"
                 alt="QAware" id="main-header-logo-img">
        </a>
        <div id="main-header-nav-items-container">
            <nav id="main-nav">
                <ul>
                    {{ range .Site.Data.menu }}
                    <li>
                        <a href='{{ absURL .url }}'>{{ .item }}</a>
                        {{ with .subitems }}
                        <ul>
                            {{ range .}}
                            <li><a href="{{ absURL .url }}">{{ .item }}</a></li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <a id="mobile-nav-icon-link" href="#">
                <div id="mobile-nav-icon"></div>
            </a>
        </div>
    </div>
    <div class="mobile-nav-dropdown">
        <!-- The properties of mobile-nav must be defined as a class
        since we need to make the height property overridable by the
        collapsed class -->
        <nav id="mobile-nav" class="mobile-nav collapsed">
            <ul>
                {{- range .Site.Data.menu }}
                <li>
                    <a href='{{ absURL .url }}'>{{ .item }}</a>
                </li>
                {{- end }}
            </ul>
        </nav>
    </div>
</header>
