<header class="header">
    <div class="main-header">
        <a href="/" class="main-header-logo">
            <img src="https://www.qaware.de/typo3conf/ext/s2_qaware_templates/Resources/Public/Images/logo-qaware.svg"
                 alt="QAware" class="main-header-logo-img">
        </a>
        <div class="main-header-nav-items">
            <nav class="main-nav">
                <ul>
                    {{ range .Site.Data.menu }}
                    <li>
                        <a href='{{ absURL .url }}' class='nav_item'>{{ .item }}</a>
                        {{ with .subitems }}
                        <ul>
                            {{ range .}}
                            <li><a href="{{ absURL .url }}">{{ .item }}</a></li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <a id="nav-main-mobile" class="nav-icon" href="#">
                <div class="burger"></div>
            </a>
        </div>
    </div>
    <div class="mobile-container">
            <nav id="mobile-menu" class="mobile-menu collapsed">
                <ul>
                    {{- range .Site.Data.menu }}
                    <li>
                        <a href='{{ absURL .url }}'>{{ .item }}</a>
                    </li>
                    {{- end }}
                </ul>
            </nav>
        </div>
</header>
